# 0.0 Imports

In [1]:
import numpy   as np
import pandas  as pd
import umap.umap_ as umap
import regex as re
import sqlite3
import s3fs

from sklearn             import cluster as c
from sklearn             import metrics as m
from sklearn             import preprocessing as pp
from sklearn             import decomposition as dd
from sklearn             import ensemble as en
from scipy.cluster       import hierarchy as hc
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from sqlalchemy          import create_engine

/home/soturno/.pyenv/versions/3.10.4/envs/pa05/lib/python3.10/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/home/soturno/.pyenv/versions/3.10.4/envs/pa05/lib/python3.10/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/home/soturno/.pyenv/versions/3.10.4/envs/pa05/lib/python3.10/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/home/soturno/.pyenv/versions/3.10.4/envs/pa05/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/home/soturno/.pyenv/versions/3.10.4/envs/pa05/lib/python3.10/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

## 0.2 Load dataset

In [2]:
# load data
# df_raw = pd.read_csv('data/raw/Ecommerce.csv', encoding='unicode_escape')
df_raw = pd.read_csv('s3://insiders-dataset-27/Ecommerce.csv',encoding='unicode_escape')

df_raw

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,7-Dec-17,0.85,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,7-Dec-17,2.10,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,7-Dec-17,4.15,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,7-Dec-17,4.15,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,7-Dec-17,4.95,12680.0,France,NaN

In [3]:
# drop extra column
df_raw = df_raw.drop(columns=['Unnamed: 8'], axis=1)

# 1.0 Data description

In [4]:
df1 = df_raw.copy()

## 1.1 Rename columuns

In [5]:
cols_new = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']
df1.columns = cols_new

## 1.2 Replace NA

In [6]:
df_missing = df1.loc[df1['customer_id'].isna()]
df_not_missing = df1.loc[~df1['customer_id'].isna()]

# create reference
df_backup = pd.DataFrame(df_missing['invoice_no'].drop_duplicates())
df_backup['customer_id'] = np.arange(19000, 19000+len(df_backup), 1)

# merge original with reference dataframe
df1 = pd.merge(df1, df_backup, on='invoice_no', how='left')

# coalesce 
df1['customer_id'] = df1['customer_id_x'].combine_first(df1['customer_id_y'])

# drop extra columns
df1 = df1.drop(columns=['customer_id_x', 'customer_id_y'], axis=1)

## 1.3 Change dtypes

In [7]:
# invoice date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'], format='%d-%b-%y')

# customer id
df1['customer_id'] = df1['customer_id'].astype(int)

## 1.6 Descriptive statistics

In [14]:
num_attributes = df1.select_dtypes(include=['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude=['int64', 'float64', 'datetime64[ns]'])

### 1.6.1 Numerical attributes

In [15]:
# central tendency - mean, median
ct1 = pd.DataFrame(num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame(num_attributes.apply(np.median)).T
             
# dispersion - desvio padrÃ£o, minimo, maximo, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply(np.std)).T
d2 = pd.DataFrame(num_attributes.apply(np.min)).T
d3 = pd.DataFrame(num_attributes.apply(np.max)).T
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T

# concatenate
metrics = pd.concat([d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
metrics.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
metrics

    attributes       min      max      range          mean    median          std        skew       kurtosis
0     quantity -80995.00  80995.0  161990.00      9.552250      3.00   218.080957   -0.264076  119769.160031
1   unit_price -11062.06  38970.0   50032.06      4.611114      2.08    96.759764  186.506972   59005.719097
2  customer_id  12346.00  22709.0   10363.00  16688.840453  16249.00  2911.408666    0.487449      -0.804287

#### 1.6.1.1 Quantity

In [29]:
# print(len(df1[df1['quantity']==0]))
# print(len(df1[df1['quantity']<0]))
# print(len(df1[df1['quantity']>0]))

#### 1.6.1.2 Unit price

In [28]:
# df1[(df1['unit_price']>0.00) & (df1['unit_price']<=0.03)]

In [27]:
# df1[(df1['unit_price']>0.00) & (df1['unit_price']<=0.04)]

In [26]:
# len(df1[df1['unit_price']<0.05])

#### 1.6.1.3 Customer id

In [20]:
len(df1['customer_id'].unique())

8082

### 1.6.2 Categorical attributes

#### 1.6.2.1 Invoice no

In [21]:
df_letter_invoices = df1.loc[df1['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+', x))),:]
# df_letter_invoices.head()

print('Total number of invoices with letters: {}'.format(len(df_letter_invoices)))
print('Total number of negative quantity in invoices with letters: {}'.format(len(df_letter_invoices[df_letter_invoices['quantity'] < 0])))
print('% of the total data: {:.2f}%'.format((df_letter_invoices.shape[0] / df1.shape[0])*100))

Total number of invoices with letters: 9291
Total number of negative quantity in invoices with letters: 9288
% of the total data: 1.71%

In [30]:
# df_letter_invoices[df_letter_invoices['quantity'] > 0]

#### 1.6.2.2 Stock code

In [23]:
df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$', x))), 'stock_code'].unique()

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

In [24]:
df_stock_letters=df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$', x))), 'stock_code']
print('% of the total data: {:.2f}%'.format((df_stock_letters.shape[0] / df1.shape[0])*100))

% of the total data: 0.51%

#### 1.6.2.3 Description

#### 1.6.2.4 Country

In [40]:
df1['country'].value_counts(normalize=True).head()

country
United Kingdom    0.914320
Germany           0.017521
France            0.015790
EIRE              0.015124
Spain             0.004674
Name: proportion, dtype: float64

In [41]:
df1[['customer_id', 'country']].drop_duplicates().groupby('country').count().reset_index().sort_values('customer_id', ascending=False)

                 country  customer_id
36        United Kingdom         7587
14               Germany           95
13                France           90
10                  EIRE           44
31                 Spain           31
3                Belgium           25
33           Switzerland           24
27              Portugal           20
19                 Italy           15
16             Hong Kong           15
12               Finland           12
1                Austria           11
25                Norway           10
24           Netherlands            9
0              Australia            9
37           Unspecified            9
9                Denmark            9
6        Channel Islands            9
7                 Cyprus            8
32                Sweden            8
20                 Japan            8
18                Israel            7
26                Poland            6
5                 Canada            4
34                   USA            4
2                Bahrain            4
15                Greece            4
23                 Malta            2
35  United Arab Emirates            2
8         Czech Republic            1
22             Lithuania            1
11    European Community            1
21               Lebanon            1
28                   RSA            1
29          Saudi Arabia            1
30             Singapore            1
17               Iceland            1
4                 Brazil            1

# 2.0 Variable filtering

In [8]:
df2 = df1.copy()

In [9]:
# unit price
df2 = df2.loc[df2['unit_price'] >= 0.04]

# stock code
df2 = df2[~df2['stock_code'].isin( ['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK'] ) ]

# description
df2 = df2.drop(columns='description', axis=1)

df2 = df2[~df2['country'].isin( ['European Community', 'Unspecified' ] ) ]

# bad users
df2=df2[~df2['customer_id'].isin([12346,16446,21497,21498,21499])]

# quantity
df2_returns = df2.loc[df1['quantity'] < 0]

# purchases
df2_purchases = df2.loc[df1['quantity'] >= 0]


print('% of the data lost : {:.3f}%'.format(1-(df2.shape[0] / df1.shape[0])))

% of the data lost : 0.011%

# 3.0 Feature engineering

In [10]:
df3 = df2.copy()

## 3.1 Feature creation

In [11]:
# data reference
df_ref = df3.drop(['invoice_no', 'stock_code', 
                    'quantity', 'invoice_date', 'unit_price', 
                    'country'], axis=1).drop_duplicates(ignore_index=True)

### 3.1.1 Gross revenue

In [12]:
# quantity * price
df2_purchases['gross_revenue'] = df2_purchases['quantity'] * df2_purchases['unit_price']

# Monetary
df_monetary = df2_purchases[['customer_id', 'gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_monetary, on='customer_id', how='left')
df_ref.isna().sum()

/tmp/ipykernel_8588/962894076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_purchases['gross_revenue'] = df2_purchases['quantity'] * df2_purchases['unit_price']

customer_id       0
gross_revenue    91
dtype: int64

### 3.1.2 Recency

In [13]:
# how many days since last purchase
df_recency = df2_purchases.loc[:, ['customer_id', 'invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency[['customer_id', 'recency_days']]
df_ref = pd.merge(df_ref, df_recency, on='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

### 3.1.3 Frequency

In [14]:
# frequency of purchases
df_aux = (df2_purchases[['customer_id', 'invoice_no', 'invoice_date']].drop_duplicates()
                                                             .groupby('customer_id')
                                                             .agg(max_ = ('invoice_date', 'max'), 
                                                                   min_ = ('invoice_date', 'min'),
                                                                   days_= ('invoice_date', lambda x: ((x.max() - x.min()).days) + 1),
                                                                   buy_ = ('invoice_no', 'count'))).reset_index()
# # Frequency
df_aux['frequency'] = df_aux[['buy_', 'days_']].apply(lambda x: x['buy_'] / x['days_'] if  x['days_'] != 0 else 0, axis=1)

# # Merge
df_ref = pd.merge(df_ref, df_aux[['customer_id', 'frequency']], on='customer_id', how='left')

df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
frequency        91
dtype: int64

### 3.1.4 Total invoices

In [15]:
# total of invoices
df_freq = (df2_purchases.loc[:, ['customer_id', 'invoice_no']].drop_duplicates()
                                                             .groupby('customer_id')
                                                             .count()
                                                             .reset_index()
                                                             .rename(columns={'invoice_no': 'total_invoices'}))

df_ref = pd.merge(df_ref, df_freq, on='customer_id', how='left')
df_ref.isna().sum()

customer_id        0
gross_revenue     91
recency_days      91
frequency         91
total_invoices    91
dtype: int64

### 3.1.5 Total of items purchased

In [16]:
# number of products purchases
df_freq = (df2_purchases.loc[:, ['customer_id', 'quantity']].groupby('customer_id').sum()
                                                           .reset_index()
                                                           .rename(columns={'quantity': 'items'}))
df_ref = pd.merge(df_ref, df_freq, on='customer_id', how='left')
df_ref.isna().sum()

customer_id        0
gross_revenue     91
recency_days      91
frequency         91
total_invoices    91
items             91
dtype: int64

### 3.1.6 Total of different items purchased

In [17]:
# number of different items purchased
df_freq = (df2_purchases.loc[:, ['customer_id', 'stock_code']].groupby('customer_id').count()
                                                           .reset_index()
                                                           .rename(columns={'stock_code': 'products'}))
df_ref = pd.merge(df_ref, df_freq, on='customer_id', how='left')
df_ref.isna().sum()

customer_id        0
gross_revenue     91
recency_days      91
frequency         91
total_invoices    91
items             91
products          91
dtype: int64

### 3.1.7 Returns

In [18]:
# total number of returns
df_returns = df2_returns[['customer_id', 'quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'returns_qtt'})
df_returns['returns_qtt'] = df_returns['returns_qtt'] * -1

df_ref = pd.merge(df_ref, df_returns, how='left', on='customer_id')
df_ref.loc[df_ref['returns_qtt'].isna(), 'returns_qtt'] = 0

df_ref.isna().sum()

customer_id        0
gross_revenue     91
recency_days      91
frequency         91
total_invoices    91
items             91
products          91
returns_qtt        0
dtype: int64

# 4.0 EDA (Exploratory Data Analysis)

In [19]:
df_ref = df_ref.dropna()
df4 = df_ref.copy()

# 5.0 Data preparation

In [20]:
df5 = df4.copy()

# 6.0 Feature selection

In [21]:
df6 = df5.copy()

# 7.0 Hyperparameter Fine-Tunning

In [22]:
df7=df6.copy()

# 8.0 Cluster

In [23]:
df8=df7.copy()

## 8.1 Cluster creation

In [24]:
# TREE==================================================
# training dataset

X1 = df8.drop(columns=['customer_id','gross_revenue'], axis=1)
y = df8['gross_revenue']

# model definition
rf_model = en.RandomForestRegressor(n_estimators=100,random_state=42)

# model training
rf_model.fit(X1, y)

# leaf
df_leaf = pd.DataFrame(rf_model.apply(X1))

# UMAP TREE 1
reducer = umap.UMAP(n_components=10,random_state=42)
embedding = reducer.fit_transform(df_leaf)

# embedding
df82 = pd.DataFrame()
df82['embedding_x'] = embedding[:, 0]
df82['embedding_y'] = embedding[:, 1]
df82['embedding_z'] = embedding[:, 2]
df82['embedding_a'] = embedding[:, 3]
df82['embedding_b'] = embedding[:, 4]
df82['embedding_c'] = embedding[:, 5]
df82['embedding_d'] = embedding[:, 6]
df82['embedding_e'] = embedding[:, 7]
df82['embedding_f'] = embedding[:, 8]
df82['embedding_g'] = embedding[:, 9]

In [24]:
# # model definition
# hc1 = hc.linkage(df99, 'ward')

# # model predict
# labels = hc.fcluster(hc1, 10, criterion='maxclust')

# df8['cluster'] = labels

# print('SS value: {}'.format(m.silhouette_score(df99, labels, metric='euclidean')))

SS value: 0.6450212001800537

## 8.2 Cluster profile

In [25]:
# df8['cluster'] = labels

# # Percentual of customers
# df_cluster = df8[['customer_id', 'cluster']].groupby('cluster').count().reset_index()
# df_cluster['perc_customer'] = 100*(df_cluster['customer_id'] / df_cluster['customer_id'].sum())
# df_cluster['perc_customer']=df_cluster['perc_customer'].map('{:,.2f} %'.format)

# # Gross revenue
# df_gross_revenue = df8[['gross_revenue', 'cluster']].groupby('cluster').sum().reset_index()
# # df_gross_revenue=df_gross_revenue.rename(columns={'gross_revenue':'avg_gross_revenue'})
# df_cluster = pd.merge(df_cluster, df_gross_revenue, how='inner', on='cluster')

# # Gross revenue percentual
# df_cluster['gross_perc'] = 100*(df_cluster['gross_revenue'] / df_cluster['gross_revenue'].sum())
# df_cluster['gross_perc']=df_cluster['gross_perc'].map('{:,.2f} %'.format)

# # items
# df_items = df8[['items', 'cluster']].groupby('cluster').sum().reset_index()
# df_cluster = pd.merge(df_cluster, df_items, how='inner', on='cluster')
# df_cluster['items']=df_cluster['items'].astype(int)

# # products 
# df_products = df8[['products', 'cluster']].groupby('cluster').sum().reset_index()
# df_cluster = pd.merge(df_cluster, df_products, how='inner', on='cluster')
# df_cluster['products']=df_cluster['products'].astype(int)

# # invoice_no
# df_invoice_no = df8[['total_invoices', 'cluster']].groupby('cluster').sum().reset_index()
# df_invoice_no=df_invoice_no.rename(columns={'total_invoices':'invoices'})
# df_cluster = pd.merge(df_cluster, df_invoice_no, how='inner', on='cluster')
# df_cluster['invoices']=df_cluster['invoices'].astype(int)

# # returns
# df_returns = df8[['returns_qtt', 'cluster']].groupby('cluster').sum().reset_index()
# df_cluster = pd.merge(df_cluster, df_returns, how='inner', on='cluster')
# df_cluster['returns_qtt']=df_cluster['returns_qtt'].astype(int)

# # Avg recency days
# df_avg_recency_days = df8[['recency_days', 'cluster']].groupby('cluster').mean().reset_index()
# df_cluster = pd.merge(df_cluster, df_avg_recency_days, how='inner', on='cluster')
# df_cluster['recency_days']=df_cluster['recency_days'].astype(int)
# df_cluster=df_cluster.rename(columns={'recency_days':'avg_recency_days'})

# # Avg frequency
# df_avg_frequency = df8[['frequency', 'cluster']].groupby('cluster').mean().reset_index()
# df_cluster = pd.merge(df_cluster, df_avg_frequency, how='inner', on='cluster')
# df_cluster['frequency']=df_cluster['frequency'].astype(float)
# df_cluster['frequency']=df_cluster['frequency'].round(2)
# df_cluster=df_cluster.rename(columns={'frequency':'avg_frequency'})


# df_cluster=df_cluster.sort_values(['gross_revenue'],ascending=False).reset_index(drop=True)

# df_cluster['gross_revenue']=df_cluster['gross_revenue'].map('$ {:,.2f}'.format)

# df_cluster=df_cluster.rename(columns={'customer_id':'customers'})

# df_cluster.loc[0:0,'cluster'] = 1
# df_cluster.loc[1:1,'cluster'] = 2
# df_cluster.loc[2:2,'cluster'] = 3

# rows=df_cluster.shape[0:1]
# rows=int(rows[0])

# if rows>3:
#         df_cluster.loc[3:3,'cluster'] = 4
#         df_cluster.loc[4:4,'cluster'] = 5
#         df_cluster.loc[5:5,'cluster'] = 6
#         df_cluster.loc[6:6,'cluster'] = 7
#         df_cluster.loc[7:7,'cluster'] = 8
#         df_cluster.loc[8:8,'cluster'] = 9
#         df_cluster.loc[9:9,'cluster'] = 10
#         df_cluster.loc[10:10,'cluster'] = 11
# else:
#     None

# df_cluster

,cluster,customers,perc_customer,gross_revenue,gross_perc,items,products,invoices,returns_qtt,avg_recency_days,avg_frequency
0,1,550,9.66 %,"$ 5,654,076.61",56.39 %,3250561,201908,7366,72580,44,0.21
1,2,819,14.38 %,"$ 1,432,428.18",14.29 %,727001,97768,3285,11821,67,0.25
2,3,1194,20.97 %,"$ 1,202,398.85",11.99 %,523178,100459,2804,6550,104,0.46
3,4,383,6.73 %,"$ 979,998.18",9.77 %,601463,61483,2535,8305,40,0.10
4,5,1050,18.44 %,"$ 479,853.66",4.79 %,207407,43740,1889,3046,132,0.57
5,6,326,5.73 %,"$ 86,580.39",0.86 %,50758,3769,353,693,155,0.98
6,7,309,5.43 %,"$ 83,215.82",0.83 %,27482,7375,391,301,181,0.84
7,8,356,6.25 %,"$ 71,615.04",0.71 %,20886,6751,411,506,179,0.92
8,9,494,8.68 %,"$ 34,508.00",0.34 %,9066,3832,520,52,193,0.98
9,10,213,3.74 %,"$ 2,800.02",0.03 %,388,325,214,4,188,1.00

In [26]:
# df8['cluster']=df8['cluster'].apply(lambda x: 1 if x == 3 
#                                          else 2 if x == 6
#                                          else 3 if x == 4
#                                          else 4 if x == 8
#                                          else 5 if x == 10
#                                          else 6 if x == 7
#                                          else 7 if x == 9
#                                          else 8 if x == 5
#                                          else 9 if x == 1
#                                          else 10
#                                     )

# 9 Deploy to production

## 9.1 Insert into POSTGRES

In [27]:
# df8['total_invoices'] = df8['total_invoices'].astype(int)
# df8['items'] = df8['items'].astype(int)

In [28]:
# # endpoint='sqlite:///insiders_db.sqlite' # local

# host='insiders-database.cq1cjxmuhsns.us-east-2.rds.amazonaws.com'
# port='5432'
# database='postgres'
# user='eduardo'
# pwd='soturno95'

# endpoint='postgresql://eduardo:soturno95@insiders-database.cq1cjxmuhsns.us-east-2.rds.amazonaws.com/postgres'
# conn = create_engine(endpoint)

# # # create table
# # query_create_table_insiders = """
# #    CREATE TABLE insiders ( 
# #        customer_id     INTEGER,
# #        gross_revenue   REAL,
# #        recency_days    INTEGER,
# #        frequency       REAL,
# #        total_invoices  INTEGER,
# #        items           INTEGER,
# #        products        INTEGER,
# #        returns_qtt     INTEGER,
# #        cluster         INTEGER
# #    )
# # """

# # conn.execute(query_create_table_insiders)
# # conn.commit()
# # conn.close()

# df8.to_sql( 'insiders', con=conn, if_exists='append', index=False )
# # conn.close()

In [32]:
# consulting database
# query = """
#     SELECT * FROM insiders 
# """

# df = pd.read_sql_query( query, conn )

# df.head()